<?xml version="1.0"?>
<!--
/**
 * Author: PhongPhan <phongphan.mage@gmail.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="zcredit_cc" translate="label comment" type="text" sortOrder="350" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Z-Credit Payment Gateway</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                </field>
                <field id="terminal_number" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Terminal Number</label>
                </field>
                <field id="password_zcredit" translate="label" type="password" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Password</label>
                </field>
                <field id="order_status" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>New Order Status via using Z-credit payment</label>
                    <source_model>Magento\Sales\Model\Config\Source\Order\Status</source_model>
                </field>
                <field id="cctypes" translate="label" type="multiselect" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Credit Card Types</label>
                    <source_model>Magento\Payment\Model\Source\Cctype</source_model>
                </field>
                <field id="installments" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled Installments</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="installments_number" translate="label" type="text" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Installments Maximum number</label>
                    <depends>
                        <field id="installments">1</field>
                    </depends>
                    <validate>validate-number</validate>
                </field>
                <field id="validate_cvv" translate="label" type="select" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Validate CVV for Every Purchase</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable validation CVV for every purchase, if NO customer will be able to use saved card without validate CVV</comment>
                </field>
                <field id="error_message" translate="label" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Error Message Failed Transaction from Z-credit</label>
                </field>
                <field id="allowspecific" translate="label" type="allowspecific" sortOrder="160" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Payment From Applicable Countries</label>
                    <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                </field>
                <field id="specificcountry" translate="label" type="multiselect" sortOrder="170" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Payment From Specific Countries</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="180" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Sort Order</label>
                    <frontend_class>validate-number</frontend_class>
                </field>
            </group>
            <group id="zcredit_cc_vault" translate="label comment" type="text" sortOrder="360" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Z-Credit Save Credit Card</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>payment/zcredit_cc_vault/active</config_path>
                    <comment>Save credit card of customer via Vault module.</comment>
                </field>
            </group>
        </section>
    </system>
</config>