<?xml version="1.0"?>
<!--
/**
 * Author: PhongPhan <phongphan.mage@gmail.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="zcredit" frontName="zcredit">
            <module name="Zcredit_Payment"/>
        </route>
    </router>
</config>